.newUserFormContainer {
    padding: 1rem 0 1rem 2rem;
}

.newUserFormInput {
    background-color: #ff8da1;
    color: black;
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    border-radius: 8px;
}

.newUserFormButton:hover {
    cursor: pointer;
}
