.taskContainer {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: #ff8da1;
    border-radius: 8px;
    color: black;
    font-family: "Courier New", Courier, monospace;
}

.taskTitle {
    font-weight: bold;
}

.taskTitleCompleted {
    text-decoration: line-through;
}

.checkboxContainer {
    padding-right: 1rem;
}

.checkbox {
    accent-color: #000000;
    transform: scale(1.5);
}
