.userContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem;
    background-color: #ff8da1;
    border-radius: 8px;
    color: black;
    font-family: "Courier New", Courier, monospace;
}
