.userListContainer {
    margin: 5% 10% 0;
}

.viewTasksLink {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;

    // when user is defined
    &.active {
        font-weight: bold;
    }

    // when user is not defined
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.user {
    background-color: transparent;
    transition: background 0.2s ease;

    &.selected {
        background-color: #f0f7ff;
        border-radius: 0.5rem;
    }
}
.user:hover {
    cursor: pointer;
}
